html{
    font-family: "Poppins", serif;
}

header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
    background-color: #3E92CC;
}

header img{
    width: 200px;
    box-shadow: 7px 7px #0A2463;
    background-color: #D8315B;
    border-style: none;
}

header ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

header li{
    border-style: none;
    width: 150px;
    text-align: center;
    box-shadow: 7px 7px #0A2463;
    text-transform: uppercase;
    background-color: #D8315B;
    cursor: pointer;
}

a:link, a:visited, a:active{
    text-decoration: none;
    color: #FFFAFF;
}
header li:hover{
    background-color: #0A2463;
    box-shadow: 7px 7px #FFFAFF;
}

article{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    padding: 20px;
}

.sobre, .servicos, .depoimentos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sobre img{
    width: 400px;
    box-shadow: 7px 7px #3E92CC;
}
.sobre > div{
    padding: 30px;
    border-style: none;
    box-shadow: 7px 7px #3E92CC;
    background-color: #FFFAFF;
    color: #0A2463;
    text-align: center;
    width: 500px;
    height: 300px;
}

.sobre h1{
    background-color: #D8315B;
    color: #FFFAFF;
}

span{
    background-color: #D8315B;
    color: #FFFAFF;
    font-weight: bold;
}

span:hover{
    background-color: #0A2463;
}

.sobre h1:hover{
    background-color: #0A2463;
}
.sobre p{
    text-align: justify;
    font-weight: 300;
    font-style: normal;
}

.servicos > div{
    border: none;
    box-shadow: 7px 7px #3E92CC;
    width: 100%;
    padding: 10px;
    background-color: #D8315B;
    color: #FFFAFF;
    text-align: center;
}

.icone{
    width: 60px;
}
.depoimentos > div{
    border: none;
    box-shadow: 7px 7px #3E92CC;
    width: 500px;
    text-align: center;
    padding: 30px;
    background-color: #D8315B;
    color: #FFFAFF;
}
.depoimentos h1{
    background-color: #0A2463;
}

.depoimentos p{
    font-weight: light;
    text-align: center;
}


.duvidas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.duvidas h1{
    border: none;
    width: 200px;
    text-align: center;
    width: 100%;
    box-shadow: 7px 7px #3E92CC;
    background-color: #D8315B;
    color: #FFFAFF;
}
.duvidas > div{
    border: none;
    text-align: center;
    background-color: #D8315B;
    color: #FFFAFF;
    box-shadow: 7px 7px #3E92CC;
    width: 50%;
}

.duvidas span{
    background-color: #0A2463;
}
.contato{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #D8315B;
    margin: 0px;
}

.aula_experimental{
    width: 500px;
    height: 200px;
    text-align: justify;
    color: #FFFAFF;
}

.aula_experimental h2{
    background-color: #0A2463;
    text-align: center;
}

.formulario{
    padding: 20px;
    border: solid #3E92CC 5px;
    background-color: #0A2463;
    width: 400px;
    height: 150px;
}


legend{
    color: #D8315B;
    background-color: #3E92CC;
    font-size: 25px;
    font-weight: 700;
    padding: 5px;
}

input[type="text"]{
    width: 100%;
    
}

button{
    width: 50%;
    background-color: #3E92CC;
    border: none;
    color: #FFFAFF;
    font-weight: bold;
}

footer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #3E92CC;
}

.logo_social{
    font-size: 30px;
}

.parargrafo_footer{
    color: #FFFAFF;
}

footer a:hover{
        background-color: #0A2463;
}

@media (max-width: 768px){

    article{
        padding: 10px;
        margin: 10px;
    }

    header{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    header ul{
        flex-direction: column;
        align-items: center;

    }

    header img{
        width: 100px;
    }

    header li{
        width: 100px;
        text-align: center;
        box-shadow: 7px 7px #0A2463;
        text-transform: uppercase;
        background-color: #D8315B;
        cursor: pointer;
        font-size: 15px;
    }

    .sobre, .servicos{
        flex-direction: column;
    }
    .sobre img{
        width: 150px;
    }

    .sobre > div{
        width: 60%;
        height: 90%;
    }

    .sobre h1{
        font-size: 18px;
    }

    .sobre p{
        font-size: 14px;
    }

}

@media (max-width: 480px) {
    
    article{
        padding: 5px;
        margin: 5px;
    }
    
    header img {
        width: 90px;
    }

    header li {
        width: 90px; 
        font-size: 14px; 
    }

    
    .icone {
        width: 40px;
    }
}